name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v4
    - name: MSRV Toolchain
      run: rustup toolchain install 1.83
    - name: Build (MSRV)
      run: cargo +1.83 build --verbose
    - name: Run Tests (MSRV)
      run: cargo +1.83 test --verbose
    - name: Run Examples (MSRV)
      run: find examples -maxdepth 1 -type d -not -path 'examples' | cut -d '/' -f 2 | xargs -I '{}' cargo +1.83 run --example '{}'
    - name: Build
      run: cargo build --verbose
    - name: Run Tests (latest)
      run: cargo test --verbose
    - name: Run Examples (latest)
      run: find examples -maxdepth 1 -type d -not -path 'examples' | cut -d '/' -f 2 | xargs -I '{}' cargo run --example '{}'
